<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smdojt.manilafame">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Enable Internet Connection for Image retrieval in Gallery Tab -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- List of specific class declaration (Depending on usage) -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <!--android:theme="@style/AppTheme" default theme-->
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <activity
            android:name=".MainActivity"
            android:label="MANILA FAME"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.smdojt.manilafame.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <!-- DEFAULT Launching activity / Interface after Splashscreen -->
            </intent-filter>
        </activity>
        <!--  -->
        <activity
            android:name=".SplashScreen"
            android:label="MANILA FAME"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" /> <!-- LAUNCHING Activity -->
            </intent-filter>
        </activity>
        <!--  -->
        <activity
            android:name=".Communication.about"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smdojt.manilafame.MainActivity" />
        </activity>
        <!--  -->
        <activity
            android:name=".Communication.contact"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smdojt.manilafame.MainActivity" />
        </activity>
        <!--  -->
        <!-- <activity android:name=".Gallery.GalleryActivity" /> -->
        <activity android:name=".Gallery.DetailActivity" />
        <!-- <activity android:name=".Attendees.CustomListAll"></activity> -->
        <activity
            android:name=".Registration_Scanner.QRScanner"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smdojt.manilafame.MainActivity" />
        </activity>
        <activity android:name=".Registration_Scanner.QRActivity1" />
        <activity android:name=".Exhibitor.Exhibitor_Local.TabLoc_CV_Activity" />
        <activity android:name=".Attendees.CustomListVip" />
        <activity
            android:name=".sql_demo_2.AndroidPHPMySQL"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smdojt.manilafame.MainActivity" />
        </activity>
        <activity
            android:name=".Buyer_Registration.Buyer_Registration_Activity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smdojt.manilafame.MainActivity" />
        </activity>
    </application>

</manifest>